app/build/bin
app/frontend/node_modules
app/frontend/dist
app/frontend/build_log.txt
app/frontend/build_error.log
tools/**/*
specs/baseline/resources
HelAIx.exe
HelAIx
workspace.code-workspace
.DS_Store