app/build/bin
app/frontend/node_modules
app/frontend/dist
app/frontend/build_log.txt
app/frontend/build_error.log
app/frontend/*.md5
app/frontend/*.sha1
app/frontend/*.sha256
app/frontend/*.sha512
tools/**/*
specs/baseline/resources
HelAIx.exe
HelAIx
workspace.code-workspace
.DS_Store
